* {
  margin:0px;
  padding:0px;
}

p {
  display: block;
  text-align: left;
  margin: 12px auto;
  font: 24px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

pre {
  text-align: left;
  font: 18px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}